<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; display: block">
  <h1>
    Hi there. My name is Dan Coto and I am a web application developer. This
    page is currently under construction.
  </h1>
  <div>
    <a href="https://twitter.com/dancotodev"
      ><img src="assets/twitter.png" width="32" height="32" alt="Twitter"
    /></a>
    <a href="https://github.com/dancoto"
      ><img src="assets/github.png" width="32" height="32" alt="GitHub"
    /></a>
  </div>
</div>

<router-outlet></router-outlet>
